.label {
    font-size: 12px;
}

.form {
    margin-top: 30px;
}

.sign-in {
    width: 380px;
    display: flex;
    flex-direction: column;
}

.buttons {
    display: flex;
    justify-content: space-between;
}