.menu-item {
    min-width: 30%;
    height: 240px;
    flex: 1 1 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
    margin: 0 7.5px 15px;
    margin-right: 7.5px;
    margin-left: 7.5px;
    background-position: center;
    background-size: cover;
}

.menu-item .content {
  background-color: white;
  opacity: 50%;
  justify-content: center;
  
}